

* {
    margin: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
  }
  
 
  #navbar{
    background-color: white;
    z-index: 99;
  }


  header {
   
    background-color:  rgb(18, 20, 20) !important;
    width: auto;
  }
  


  .hero{
    display:flex;
    flex-wrap: wrap;
    height: 500px;
    background-image: url(/images/stars.png);
    color:white;
    padding-bottom: 25px;
   
  }

  .title{
    margin-bottom:15px;
    padding-bottom: 25px;
  }





  .sw-nav{
    display: flex;
    padding-top: 35px;
    
  }

  .sw-buttons{
   
    margin-left: auto;
    margin-right: auto;
    
  }

  button{
   padding: 15px 25px 15px 25px;
   font-size: large;
   background-color: #ffffff15 !important;
   color: white;
   border-radius: 5px;
   border:none;
   backdrop-filter: blur(12px);
   -webkit-backdrop-filter: blur(12px);
  
  }

  button:hover{
  
    background-color: #ffffff25 !important;
   }

  .buttonLink{
    margin: 15px;
  }


  
  

  #filmList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(18, 20, 20);
  }
  
  
  
  
  figcaption {
    text-align: center;
  }

  .card{
    width: 400px;
    height: auto;
    margin: 10px;
    padding-top: 25px;
    background-color: #ffffff15 !important;
    
    display:flex;
    flex-direction: column;
   
  }

  .card-image{
    
    margin-left: auto  !important;
    margin-right: auto !important;
    margin-top: 25px;
  }

   .is-6{
   color:white !important;
   margin: 0px !important;
   padding: 0px;
 }
 
.title{
  color:white !important;
  margin-bottom: 5px !important;
}


#filmList{
    padding-top: 50px;
}