* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  
}


.projCard{
  border-radius: 2px;
  width: 350px;
  height: 425px;
  padding:10px;
  border: 0.25px solid #bfbfbf71;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px #aaaaaa88;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px;
  position:static;
  transition: transform 0.2s ease-out;
  overflow: hidden;
  border: none;
 flex-direction: column;
 border-radius: 10px;;

 
  
}

.projCard:hover {
 
  transform: translateY(-8px);
}

a {
  text-decoration: none;
}

h1 {
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 3.2rem;
  text-align: center;
}

/*Navigation*/

#navbar {
  display: flex;
  width: 100%;
  position: fixed;
  background-color: white;
  justify-content: space-around;
  z-index: 99;
}

.logo{
  width: 100% ;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.smallLogo {
  width: 180px;

}

.nav-list {
  display: flex;
  margin-right: 1rem;
  list-style-type: none;
}

.nav-list a {
  padding: 1rem;
  margin-top: 0.3rem;
  display: block;
  font-size: 1.8rem;
  text-decoration: none;
  color: gray;
  border-radius: 3px;
  font-weight: 300;
}

.nav-list a:hover {
  background-color: black;
  color: white;
}



/* Work Together Section */
#workTogether-section{
  height: 60vh;
  background: transparent linear-gradient(180deg, #49916F 0%, #000000 100%) 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  
  
  

}

.text{
  font-family: 'Roboto', sans-serif;
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  font-weight: 100;
  color:white;
  height:8%;
  width: 100%;
}

.text h2{
  font-family: 'Roboto', sans-serif;
font-size: 3rem;
  font-weight: 100;
  opacity: 40%;
  color:white;
}

.CTA{

display:flex;
justify-content: center;
align-items: center;
height: 90%;
color:white;
width: 60%;
flex-direction: column;
}

.CTA h1{
  font-size: 4.5rem;
}

.CTA button{
  margin-top: 50px;
  border-radius: 59px;
  font-size: 2rem;
  padding: 10px;
  width:350px;
  background-color: white;
  border: none;
  color:#4C8E6F;
}




/*Welcome Section*/

#welcome-section {
  background-color: black;
  height: 95vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 1px;

}

#welcome-section img {
  height: auto;
  width: 100%;
  max-width: 1000px;
}

/*Projects Section*/



.projects-section {


  background-color: black;
  display: block;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  scroll-margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.projectContainer{
  margin-left: 20px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1600px;
}

.projects-section-header {

  font-size: 3rem;
  color: white;
  text-align: left;
  font-weight: 300;
  padding: 25px;
  margin-bottom: 50px;
}

.projects-grid {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}


.cardimg{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  

}



.projCard img {
  width:100%;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
}



.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
}

.contact-section-header > h2 {
  font-size: 4rem;
  font-weight: 700;
}

@media (max-width: 61.25em) {
  .contact-section-header > h2 {
    font-size: 3rem;
    padding: 2rem;
  }
}

@media (max-width: 61.25em) {
  .contact-section-header > p {
    font-size: 2rem;
    padding: 2rem;
  }
}

/*Contact Section*/

#contact {
  height: 600px;
  padding-bottom: 0;
  color:white;
}

.contact-section-header > p {
  font-size: 2rem;
  padding: 3rem;
  font-weight: 500;
  color:white;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 300;
  flex-wrap: wrap;
}

.contact-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 1rem;
  font-size: 2rem;
  text-shadow: 2px 2px 1px #1f1f1f2c;
  transition: transform 0.2s ease-out;
}

.contact-links > a:hover {
  transform: translateY(-5px);
}

/*Simple Footer Section*/

footer {
  display: flex;
  justify-content: left;
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: left;
  width: 100%;
  max-width: 980px;
  margin-top: 2rem;
}
