*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}



#navbar {
    width: 100%;
    position: fixed;
    position: fixed;
    background-color: darkblue;
}


a {
    text-decoration: none;

    
  }



.nav-list {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    list-style-type: none;
  }
  
  .nav-list a {
      padding: 1.5rem;
      display: block;
      font-size: xx-large;
      text-decoration: none;
      color: gray;
    
  }

  .nav-list a:hover {
    background-color: #766E9D;
  }

  #welcome-section{
      background-color: #969eA18f;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  #projects {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  
  .projects-grid {
      padding: 4.5rem 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: darkslategray;
  }
  
  .project-tile {
    margin: 1rem;
  }


 h1 {
    color: black;
}

figcaption { 
    text-align: center;
    font-size: x-large;
    color: #555555
}

#contact{
    height: 20rem;
    background-color: #969eA18f ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact h1{
    font-size: 4rem;
    padding: 4rem 0;
}

#contact p {
    font-size: xx-large;
    padding-bottom: 3rem;
}

#contact div {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}

#contact div a{
margin: 0 2rem;
font-size: x-large;
text-shadow: 2px 2px 1px black;
transition: transform 0.3s ease-out;
}

#contact div a:hover{
    transform: translateY(-8px);
}

footer {
    display:flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1.5rem;
  
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 80%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 40%;
    
    }
    section {
        background-color: red;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }