* {
  margin: 0;
  box-sizing: border-box;
}

#navbar {
  display: flex;
  width: 100%;
  position: fixed;
  background-color: white;
  justify-content: space-around;
  z-index: 99;
  font-family: 'Roboto', sans-serif;

}

.logo{
  width: 100% ;

  padding-left: 30px;
  display: flex;
  align-items: center;
}

.smallLogo {
  width: 180px;

}

.nav-list {
  display: flex;
  margin-right: 1rem;
  list-style-type: none;
}

.nav-list a {
  padding: 1rem;
  margin-top: 0.3rem;
  display: block;
  font-size: 1.8rem;
  text-decoration: none;
  color: gray;
  border-radius: 3px;
  font-weight: 300;
}

.nav-list a:hover {
  background-color: black;
  color: white;
}
.showMore{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.pokeGrid {
  display: flex;
  flex-wrap: wrap;
justify-content: center;
padding: 50px;
}

.scene {
  width: 270px;
  height: 35px;
  perspective: 600px;
  margin: .5rem;
  background-color: #88888815;
  box-shadow: 0px 0px 10px #8888886b;

}

.scene1 {
  width: 270px;
  height: 385px;
  perspective: 600px;
  margin: .5rem;
  background-color: #88888815;
  box-shadow: 0px 0px 10px #8888886b;

}


.mycard {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  
 
}

.mycard.is-flipped {
  transform: rotateY(180deg);
}

.cardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  background: white;
 
 
}

.front:af {
  background: white;
   border-radius: 10px;
 
}

.back {
  background: white;
  transform: rotateY(180deg);
 padding: 15px;
  flex-direction: column;
  align-items: center;
}

.imgDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.smallPoke{
  width: 150px;
  align-items: center;
  padding:0;
}

figure img {
  width: 280px;
  display: flex;
}

figcaption::first-letter {
  text-transform: capitalize;

  line-height: 3em;
  
}

.pokeName::first-letter
{
  text-transform: capitalize;
}

.pokeName{
  font-size: 1.5rem;
  margin-bottom: 5px;
}


figcaption {
  text-align: center;
  font-size: 2rem;
}

#searchBar{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.newPokeDiv{
  display:flex;
  justify-content: center;
  background-color: rgba(179, 179, 179, 0.452);
margin: 15px;
width: 300px;
height: 410px; 
}

.fivePokeDiv{
  display: flex;
  flex-wrap: wrap;
}


.section{
  display: flex;
  background-color: #46464613;
  min-height: 450px;
  justify-content: space-evenly;
}

.CreateTxt{
  display:flex;
  flex-direction: column;
  align-items: middle;
  justify-content: center;
}


.title{

  margin-left: auto;
  margin-right: auto;
  display: flex;
  color: #5A7A69 !important;
  font-size: 3rem !important;
}

.subtitle{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  color: #5A7A69 !important;
  padding-bottom: 20px;
  padding-left: 5px;;
 
}

.hero-body{
display: flex;
flex-direction: column;
align-items: center;

height: auto;
}

.heroImg{
  padding-top: 50px;
}

.hero{
  height: auto;
  display:flex;
  padding: 5rem;
  background-color: #FFF6DD !important;
}


.Starter h1{
  text-align: center;
  font-size: 2rem;
padding: 15px;
}


.hide{
  display:none;

}

.show{
  display:inline;
}