* {
    margin: 0;
    box-sizing: border-box;
  }
  
  header, footer {
  
    font-size: xx-large;
    font-family: "Montserrat", sans-serif;
    
  }
  
  .left-nav {
    margin-left: 100px;
  }
  #navbar {
    display: flex;
    width: 100%;
    position: fixed;
    background-color: white;
    justify-content: space-around;
    z-index: 99;
  
  }
  
  .logo{
    width: 100% ;
  
    padding-left: 30px;
    display: flex;
    align-items: center;
  }
  
  .smallLogo {
    width: 180px;
  
  }
  
  .nav-list {
    display: flex;
    margin-right: 1rem;
    list-style-type: none;
  }
  
  .nav-list a {
    padding: 1rem;
    margin-top: 0.3rem;
    display: block;
    font-size: 1.8rem;
    text-decoration: none;
    color: gray;
    border-radius: 3px;
    font-weight: 300;
  }
  
  .nav-list a:hover {
    background-color: black;
    color: white;
  }
  
  #main {
   display: flex;
 flex-direction: row-reverse;
    background-color: rgb(18, 20, 20);
    padding: 2em 2em;
  }




  .sw-nav{
    display: flex;
    padding-top: 35px;
    
  }

  .sw-buttons{
   
    margin-left: auto;
    margin-right: auto;
    
  }

  button{
   padding: 15px 25px 15px 25px;
   font-size: large;
   background-color: #ffffff15 !important;
   color: white;
   border-radius: 5px;
   border:none;
   backdrop-filter: blur(12px);
   -webkit-backdrop-filter: blur(12px);
  
  }

  button:hover{
  
    background-color: #ffffff25 !important;
   }

  .buttonLink{
    margin: 15px;
  }

  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .box {
    background-color: grey;
    text-align: center;
    font-size: xx-large;
  }


.modal-close{
  margin-top: 80px;
}

a li{
  color: white;
  font-size: 20px;
 

}

 .yellowUnderline :hover{
  color: rgb(223, 220, 33);
  text-decoration: underline;

}
 

 
  .hero{
    display:flex;
    flex-wrap: wrap;
    height: 500px;
    background-image: url(/images/stars.png);
    color:white;
    padding-bottom: 25px;
   
  }

  .title{
    margin-bottom:15px;
    padding-bottom: 25px;
  }

  .card {
    width: 400px;
    height: auto;
    margin: 10px;
    padding: 25px 25px;
    background-color: #ffffff15 !important;
    display:flex;
    flex-direction: column;
    margin-left: 50px;
    padding-left: 20px;
    
   
  }

  .card.shipDisplay {
   width:auto;
    height: auto;
    margin: 10px;
    padding: 25px 25px;
    background-color: #ffffff15 !important;
    display:flex;
    flex-direction: column;
    margin-left: 50px;
    padding-left: 20px;
    
  }

  .card.shipDisplay.hidden{
    display:none;
     
   }

  

  .title{
    color: white;
    margin-top: 15px;
    padding-bottom: 1px;
  }

  .title .is-6{
    padding: 0px;
    margin-top: 0px !important;
  }




.hidden{
  display: none;
}