* {
    margin: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
  }
  
 
  #navbar{
    background-color: white;
    z-index: 99;
  }
  header {
    display: flex !important;
    justify-content: space-around;
    background-color:  rgb(18, 20, 20) !important;
    padding: .5em .5em;
  }
  

  .sw-nav{
    display: flex;
    padding-top: 35px;
    
  }

  .sw-buttons{
   
    margin-left: auto;
    margin-right: auto;
    
  }

  .navButtons{
   padding: 15px 25px 15px 25px;
   font-size: large;
   background-color: #ffffff15 !important;
   color: white;
   border-radius: 5px;
   border:none;
   backdrop-filter: blur(12px);
   -webkit-backdrop-filter: blur(12px);
  
  }

  .navButtons:hover{
  
    background-color: #ffffff25 !important;
   }

  .buttonLink{
    margin: 15px;
  }




  .sortButton {
    font-size: x-large;
    border-radius: 10px;
    background-color: white;
    padding: 0 50px 0 50px;
    border-color:rgba(255, 255, 255, 0);
  }
  
  .sortButton:hover {
    background-color: black;
    color:rgb(161, 161, 1);
  }

  .hero{
    display:flex;
    flex-wrap: wrap;
    height: 500px;
    background-image: url(/images/stars.png);
    color:white;
    padding-bottom: 25px;
   
  }

  .title{
    margin-bottom:15px;
    padding-bottom: 25px;
  }


  

  #main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(18, 20, 20);
  }
  
  
  figure img {
    width: 200px;
    
    
  }
  
  figcaption {
    text-align: center;
  }

  .card{
    width: 250px;
    height: 350px;
    margin: 10px;
    background-color: #ffffff15 !important;
    backdrop-filter: blur(12px) !important;
    -webkit-backdrop-filter: blur(12px) !important;

    ;
   
  }
  .image{
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }

   .is-6{
   color:white !important;
   margin: 0px !important;
   padding: 0px;
 }
 
.title{
  color:white !important;
  margin-bottom: 5px !important;
}

.filterDiv{
  display: flex !important;
  justify-content: space-around !important;
  background-color:  rgb(18, 20, 20);
  padding-top: 0.5em;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  

}
  