* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
 
  #navbar {
    display: flex;
    width: 100%;
    position: fixed;
    background-color: white;
    justify-content: flex-end;
    z-index: 99;
   
  }
  
  .nav-list {
    display: flex;
    margin-right: 1rem;
    list-style-type: none;
  }
  
  .nav-list a {
    padding: 1rem;
    margin-top: 0.3rem;
    display: block;
    font-size: 1.8rem;
    text-decoration: none;
    color: gray;
    border-radius: 3px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
  }
  
  .nav-list a:hover {
    background-color: black;
    color: white;
  }
  
  header {
  display: flex;
  flex-wrap: wrap;
  }

  .hero{
    background-color: #92C7D3 !important;

  }

  @media screen and (min-width: 769px), print {
  .hero.is-large .hero-body {
      padding: 6rem 6rem !important;
  }
}


  @media screen and (min-width: 500px){
.hero.is-large .hero-body {
    padding: 4rem 6rem;
}
  }
 
  .hero-body{
    padding: 0.5rem;
  }



  .peopleOfCongress{
    padding-top: 20px;
    background-color: #F0F0F0;
  }

  .congressHeading{
    text-align: center;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;;
  }

  #seniorMember{
    height:auto;
    padding-top:50px ;
    background-color: #F0F0F0;
    display:flex;
   justify-content: center;
   padding-bottom:50px ;
    
  }

  .bio{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 50px;
  
  }

  .bio figure img{
    min-width: 200px;
    
  }

  .h2Senior{
  
padding-left: 15px;
    font-size: 25px;
 
  }

  .info{
    padding-top: 25px;
  }

  .senatorName{
    font-size: 50px;  }
  

    .info{
      font-size: 18px;
      width: 500px;
    }


    .senatorNav{
      display:flex;
      flex-direction: column;
      align-items: center;
    }

    .fivesen{
      display:flex;
      flex-direction: row;

    }

    .senatorNav .button{
      margin-top:20px;
      background-color: #6FA8B5;
      color:white;
    }

    .senatorNav .button:hover{
      margin-top:20px;
      background-color: white;
      color: #6FA8B5;
    }
  
  .senators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 150px;
  }
  
  figure {
    width: 160px !important;
    display: flex !important;
    flex-direction: column !important;
    margin: 1em !important;
  }
  
  figcaption {
    text-align: center;
  }




  .loyaltyList{
    font-size: 20px;
    list-style-type: none !important;
    display:inline;
    
  
   
  }

  .mostLoyal{
    width: 85%;
    text-align: center;
    padding-bottom: 20px;
  }

  .learnMore{
    background-color: #6FA8B5;
 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    padding: 50px 50px ;
  }

  .congress2{
    min-width: 250px;
    margin:0px !important;
  }

  .congress2 img{
   
    margin: 0px;
  }

  .hide{
    display:none;

  }

  .show{
    display:inline
  }